#clockcontain {
  position: relative;
  height: 40vw;
  width: 40vw;
  background: url(clock.png) no-repeat;
  background-size: 100%;
  margin: auto;
}


*#hour,
#minute,
#second {
  position: absolute;

  background: black;
  border-radius: 10px;
}
#hour {
    height: 140px;
    width: 7px;
    top: 110px;
    left: 253px;
    opacity: 0.8;
    transform-origin:bottom ;
}
#minute {
    height: 147px;
    width: 5px;
    top: 103px;
    left: 254px;
    opacity: 0.8;
    transform-origin: bottom;
}
#second {
    height: 152px;
    width: 4px;
    top: 101px;
    left: 254.5px;
    opacity: 0.8;
  transform-origin: bottom;
  
}
